/* sort groups in sidebar */
.nav__controls {
  order: 100;
}
.nav-group {
  &.Content {
    order: 1;
  }
  &.Pages {
    order: 2;
  }
  &.Media {
    order: 3;
  }
  &.Configuration {
    order: 4;
  }
}

/* sort groups in dashboard */
.dashboard__group:nth-child(1) {
  order: 1;
}
.dashboard__group:nth-child(2) {
  order: 3;
}
.dashboard__group:nth-child(3) {
  order: 4;
}
.dashboard__group:nth-child(4) {
  order: 2;
}
